#app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #e8f0fe;
    min-height: 600px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto; /* Добавляем прокрутку, если карточек много */
}

.column h2 {
    text-align: center;
    color: #6a1b9a;
    margin-bottom: 15px;
}
button {
    background-color: #9575cd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

button:hover {
    background-color: #6a1b9a;
}
form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*тмоум*/
/* Стили для модального окна */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Основные стили для задач */
.task {
    padding: 15px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}


/* Стили для модального окна */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/* Стили для кнопки внизу */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #9575cd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #9575cd;
}

